:root{
    --color-yellow:#F8F200;
    --color-black:black;
    --color-blue:#52BEDC;
    --color-gray:#777777;
}
html::-webkit-scrollbar {
  display: none;
  width: 0;
}


/* header */
header{
    background-image: url(img/header/bg.svg);
    background-position: center center;		/* Центр */
	background-size:cover;					/* Заполняет + обрезает */
    background-repeat: no-repeat;			/* Не повторяется */
}
.container__header{
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content:space-between ;
}
.nav__lenta{
    display: flex;
     
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}
.nav__lenta-sm{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}


.header__access{
    max-width: 624px;
    min-width: 320px;
    max-height: 369px;
    min-height: 207px;

    padding: 70px;
    box-sizing: border-box;
    clip-path: polygon(8% 0, 100% 0, 100% 87%, 92% 100%, 0 100%,0 13%);
    background-color: var(--color-yellow);

    align-self:flex-end;
}
.header__access-head{
    margin: 0px;
}


/* about */
.about__header{
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 25px;
}
.about_p{
    width: 75%;
}

.pictures__block {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;			
	flex: 1;
}
.pictures__block-img {
	width: 100%;
	height: 100%;
	object-fit: contain;	
	object-position: center;
	max-width: 100%;		
	max-height: 100%;		
}


.pictures{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
	gap: 20px;
}
.pictures__mini{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
@media screen and (max-width: 1334px){
    .pictures{
        flex-direction: column;
        align-items :center;
        row-gap: 32px;
    }
    .pictures__mini{
        flex-direction: row;
        justify-content: space-between;
        /* align-items: ; */
        column-gap: 32px;
        row-gap: 0px;
    }
    .pictures__big, .pictures__mini{
		width: 100% !important;		/* На всю ширину родителя */
	}
    .pictures__block-img-big{
        width: 100%;
    }
}
@media screen and (max-width: 1023px){
    .nav__lenta{
        align-items : center;
        flex-direction: column;
        /* scale: 0.8; */
    }
    .nav__lenta-sm{
        column-gap: 30px;
    }
    .nav__lenta-logo-img{
        width: 200px;
    }
    .nav__lenta-sm-link-img{
        width: 25px;
        height: 25px;
    }


    .container__header{
        height: 713px;
        margin: 0px;
        
    }

    
    .header__access{
        text-align: center;
        padding: 0px !important;
        width: 320px;
        height: 207px;
        align-self : flex-start ;
        align-self: center;
        transform: translateY(40px);
    }
    .header__access-head{
        margin-top: 30px !important;
    }
    .head1{
        font-size: 30px !important;
    }
    .btn1{
        font-size: 20px !important;
        width: 244px !important;
        height: 60px !important;
        line-height: 60px !important;
    }


    .about_p{
        width: 100% !important;
        font-size: 16px !important;
        line-height: 32px !important;
    }

    .pictures__mini{
        flex-direction: column;
        row-gap: 32px;
    }
}