:root{
    --color-yellow:#F8F200;
    --color-black:black;
    --color-blue:#52BEDC;
    --color-gray:#777777;
}
html::-webkit-scrollbar {
  display: none;
  width: 0;
}


/* header */
header{
    background-image: url(img/header/bg.jpg);
    background-position: center center;		/* Центр */
	background-size:cover;					/* Заполняет + обрезает */
    background-repeat: no-repeat;			/* Не повторяется */
}
.container__header{
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content:space-between ;
}
.nav__lenta{
    display: flex;
     
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}
.nav__lenta-sm{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}


.header__access{
    max-width: 624px;
    min-width: 320px;
    max-height: 369px;
    min-height: 207px;

    padding: 70px;
    box-sizing: border-box;
    clip-path: polygon(8% 0, 100% 0, 100% 87%, 92% 100%, 0 100%,0 13%);
    background-color: var(--color-yellow);

    align-self:flex-end;
}
.header__access-head{
    margin: 0px;
}


/* about */
.about__header{
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 25px;
}
.about_p{
    width: 75%;
}

.pictures__block {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;			
	flex: 1;
}
.pictures__block-img {
	width: 100%;
	height: 100%;
	object-fit: contain;	
	object-position: center;
	max-width: 100%;		
	max-height: 100%;		
}



.pictures{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
	gap: 20px;
}
.pictures__mini{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

/* play */
.play{
    background-color: var(--color-black);
    /* background-color: red; */
}
.play__grafiti-top{
    background-image: url(img/play/bg-play-top.svg);
    height: 70px;
}
.play__grafiti-bottom{
    background-image: url(img/play/bg-play-bottom.svg);
    height: 70px;
}
.container-play{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    padding-bottom: 70px;
}
.play__img-sale{
    max-width: 132px;
    max-height: 132px;
}
.play__header{
    max-width: 569px;
}
.play__page{
    width: 75%;
}

.play-form{
    display: flex;
    flex-direction: column;
    padding-top: 98px;
    row-gap: 35px;
    min-width: 460px;
}
.play-form__input-text{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-gray);

    font-size: 18px;
    color: white;
    font-weight: 300;

    height: 35px;
}
.play-form__input-text::placeholder{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.529);
    font-weight: 300;
}
.play-form__file{
    box-sizing: border-box;
    height: 120px;
    border: 1px dashed var(--color-gray);
    color: white;
    text-align: center;
    vertical-align: middle;
}
.play-form__submit{
    pointer-events: none;
    cursor: default;
    background-color: #f8f40078 !important;
}
.play-form__checkbox{
    appearance: none;
    margin: 0px;
    margin-top: -15px;
    /* height: 14px; */
    box-sizing: border-box;
    height: 16px;
}
.play-form__checkbox::before{
    cursor: pointer;
    vertical-align: top;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-gray);
}
.play-form__checkbox::after{
    cursor: pointer;
    vertical-align: top;
    content: "Согласен на обработку персональных данных";
    font-weight: 300;
    font-size: 10px;
    font-family: "Roboto";
    color: white;
    margin-left: 10px;
    /* position: relative;
    top: 0px;
    left: 10px; */
    
}
.play-form__checkbox:checked::before{
    content: "✔";
    color: var(--color-yellow);
    text-align: center;
    font-size: 10px;
    margin: 0px;
    font-size: 9px;
    /* vertical-align: middle; */
}
.play-form:has(.play-form__checkbox:checked)  .play-form__submit{
    pointer-events: auto;
    cursor: pointer !important;
    background-color: var(--color-yellow) !important;
}

.play-pictures{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.play-pictures1{
    margin-top: 50px;
}
.play-pictures2{
    display: none;
}
.play-pictures3{
    display: none;
}
.play-pictures__xbox{
    max-width: 296px;
    position: relative;
}
.play-pictures__xbox-img{
    z-index: 1;
    width: 100%;
    position: relative;
}
.play-pictures__z-yellow-img{
    max-width: 460px;
    /* width: 100%; */
    position: absolute;
    top: 0;
    left: -160px;
    z-index: 0;
}

.play-pictures__ps5{
    max-width: 296px;
    position: relative;
}
.play-pictures__ps5-img{
    width: 100%;
    position: relative;
    z-index: 1;
}

.play-pictures__z-blue-img{
    max-width: 460px;
    /* width: 100%; */
    position: absolute;
    top: -20px;
    left: -150px;
    z-index: 0;
    transform: scaleY(-100%);
}

.play__box{
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    
}

/* pc */

.pc{
    background-color: var(--color-yellow);
    padding-top: 70px;
    padding-bottom: 70px;
}
.imag{
    width: 100%;
    /* height: 100%; */
    min-width: 0;
    flex: 1;
}
.pc__container{
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}
.pc__box-images{
    width: 100%;
    max-width: 624px
}
.pc__box-images-investors{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
}
.pc__box-images-investors-hp{
    max-width: 80px;
    width: 100%;
}
.pc__box-images-investors-x{
    max-width: 90px;
}
.pc__box-images-investors-cyberpunk{
    max-width: 320px;
}
.pc__box-images-screen{
    margin-bottom: 25px;
}
.pc__wrapper{
    max-width: 624px;
    width: 100%;
}
.pc__h1{
    margin: 0px;
    margin-bottom: 25px;
}
.pc__p{
    /* display: block; */
    margin-bottom: 15px !important;
}
.pc__box-advan-pages{
    margin-bottom: 40px;
}


.box-advan{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.advan{
    line-height: 0px;
    vertical-align: middle;
}
.advan-img{
    margin-right: 10px;
    vertical-align: middle;
}


/* buy */
.buy__container{
    display: flex;
    flex-direction: row;
    min-height: 717px;
    background-color: var(--color-black);
    column-gap: 32px;
}
.buy__bg{
    width: 50%;
    background-image: url(img/buy/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.buy__wrapper-text{
    max-width: 624px;
}
.buy__h1{
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 25px;
}
.buy__p2{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--color-blue);
    margin: 0px;
}

.buy__p2-f{
    margin-bottom: 15px;
}

.buy__last-advan{
    margin-bottom: 70px !important;
}

.buy__p2-s{
    margin-bottom: 25px;
}

.buy__images{
    display: flex;
    max-width: 319px;
    flex-direction: row;
    flex-wrap: wrap;
    /* column-gap: 79px;     */
    row-gap: 50px;

    margin-bottom: 70px;
}
.buy__images1, 
.buy__images2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 1334px){
    .pictures{
        flex-direction: column;
        align-items :center;
        row-gap: 32px;
    }
    .pictures__mini{
        flex-direction: row;
        justify-content: space-between;
        /* align-items: ; */
        column-gap: 32px;
        row-gap: 0px;
    }
    .pictures__big, .pictures__mini{
		width: 100% !important;		/* На всю ширину родителя */
	}
    .pictures__block-img-big{
        width: 100%;
    }
    /* play */
    .wrapper{
        flex-direction: row;
        max-width: 50%;
    }
    .container-play{
        flex-direction: row;
        flex-wrap: nowrap;
        /* column-gap: 200px; */
        align-content: space-between;
        /* width: 50%; */
    }
    .play-pictures1{
        display: none;
    }
    .play-pictures2{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        flex-wrap: wrap;
        padding-top: 150px;
        align-items:center;
    }
    .play-pictures__xbox,
    .play-pictures__ps5{
        height: 50%;
    }

    /* pc */
    .pc__box-images-investors{
        flex-direction: column;
        row-gap: 25px;
        align-items: center;
    }

}
@media screen and (max-width: 1023px){
    .nav__lenta{
        align-items : center;
        flex-direction: column;
        /* scale: 0.8; */
    }
    .nav__lenta-sm{
        column-gap: 30px;
    }
    .nav__lenta-logo-img{
        width: 200px;
    }
    .nav__lenta-sm-link-img{
        width: 25px;
        height: 25px;
    }


    .container__header{
        height: 713px;
        margin: 0px;
        
    }

    
    .header__access{
        text-align: center;
        padding: 0px !important;
        width: 320px;
        height: 207px;
        align-self : flex-start ;
        align-self: center;
        transform: translateY(40px);
    }
    .header__access-head{
        margin-top: 30px !important;
    }
    .head1{
        font-size: 30px !important;
    }
    .btn1{
        font-size: 20px !important;
        width: 244px !important;
        height: 60px !important;
        line-height: 60px !important;
    }
    .p1{
        font-size: 16px !important;
    }


    .about_p{
        width: 100% !important;
        font-size: 16px !important;
        line-height: 32px !important;
    }

    .pictures__mini{
        flex-direction: column;
        row-gap: 32px;
    }

    /* play */

    .container-play{
        position: relative;
        flex-direction: column;
        column-gap: 0;
    }
    .wrapper{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .play__img-sale{
        width: 62px;
        height: 62px;

        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
    }
    .play-form{
        width: 100%;
        min-width: 0;
        padding-top: 50px;
    }
    .play-pictures2{
        display: none;
    }

    .play-pictures3{
        display: flex;
        flex-direction: row;
        justify-content :space-evenly;
        column-gap: 32px;
        margin-top: 70px;
    }
    .play-pictures__xbox,
    .play-pictures__ps5{
        height: 100%;
        width: 100%;
    }
    .play-pictures__z-yellow-img,
    .play-pictures__z-blue-img{
        width: 100%;
        height: 100%;
        top: 0;
        left: -0;
        scale: 1.1;
    }

    /* pc */
    .pc__container{
        
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }
    .pc__box-images,
    .pc__wrapper{
        max-width: none;
    }
    
    .pc__box-images-investors{
        width: 100%;
        flex-direction: row;
        column-gap: 14px;
    }
    .pc__advan-img{
        width: 24px;
        height: 24px;
    }

    /* buy */
    .buy__container{
        flex-direction: column;
    }
    .buy__bg{
        min-height: 198px;
        width: 100%;
    }
    .buy__wrapper-text{
        width: 95%;
        max-width: 692px;
        margin: 0 auto;
    }
    .buy__h1{
        margin-top: 40px;
    }
    .buy__p2{
        font-size: 20px;
    }
    .buy__last-advan{
        margin-bottom: 40px !important;
    }
}